name: CMake on a single platform

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.29.6'

      - name: Configure CMake project
        run: cmake -S . -B build

      - name: Build with CMake
        run: cmake --build build

      - name: Run GoogleTest tests
        run: ctest --test-dir build --output-on-failure
